
h1 {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
}
div, form, img, ul, ol, li, dl, dt, dd, p {
    margin: 0;
    padding: 0;
    border: 0;
}
#stay .title{
    height:30px;
    border-bottom:1px solid;
}
.open_btn{
    text-align:right;
}
.open_btn a{
    margin-top:10px;
    border:1px #93b9dc solid;
    background:#dce9f9;
    font-size:12px;
    text-decoration: none;
}
.GridViewStyle {
    table-layout: fixed;
    border-right: 1px solid #D2DDF0;
    border-bottom: 1px solid #D2DDF0;
    border-left: 1px solid #D2DDF0;
    border-top: 1px solid #D2DDF0;
    font-family: verdana;
    width: 100%;
    border-collapse: collapse;
}
body{
    font-size:12px;
}
.GridViewHeaderStyle {
    border-right: medium none;
    border-top: medium none;
    border-left: medium none;
    border-bottom: medium none;
    background-color: #d8e1f9;
    height: 20px;
    font-size: 12px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50, style=1, finishOpacity=100, startx=0, starty=0, finishx=0, finishy=1024);
}
.GridViewHeaderStyle a:link {
    text-decoration: none;
    color: #000;
}

.GridViewStyle a:visited {
    text-decoration: none;
    color: #5D7B9D;
}
.GridViewStyle a:link {
    text-decoration: none;
    color: #5D7B9D;
}
a:visited {
    color: #0a4173;
    text-decoration: none;
}
a:link {
    color: #0a4173;
    text-decoration: none;
}
